{{define "ListMailsNew"}}{{if .Plural}}{{template "TitleCount" .}}
{{end}}{{range .MailsNew}}{{template "SingleMail" .}}{{end}}{{end}}

{{define "TitleCount"}}<span color='red'>{{.New}}</span> new mails{{end}}


{{define "ListMailsManual"}}{{if .Plural}}{{template "TitleCountManual" .}}
{{end}}{{range .MailsNew}}{{template "SingleMail" .}}{{end}}{{end}}

{{define "TitleCountManual"}}Unread mails: <span color='red'>{{.Total}}</span>{{end}}


{{define "SingleMail"}}<b>{{.AuthorName}}</b>: <tt>{{.Title}}</tt>
{{end}}



