{{define "ShowVersionsDialog"}}{{range .}}<b>{{.Branch}}</b>: {{if .Zero}}Up to date.{{end}}{{if .Delta}}<span fgcolor='green'>{{.Delta}} new</span>.{{end}}{{with .NewLocal}}You have {{.}} unmerged patch(s).{{end}}
{{with .Log}}
<span size='x-small'><tt>{{.}}</tt></span>{{end}}
{{end}}{{end}}